*.pyc
*.tif
*.tif.filepart
*.png
*.png.filepart
*.jpeg
*.jpeg.filepart
*.jpg
*.jpg.filepart
*.JPG
*.JPG.filepart
*.bmp
*.bmp.filepart
*.h5
*.hdf5
*.img
*.pkl
*.html
*.npz
*.npy
*.json
data/
log/
results/
